<script lang="ts">
	import TailwindCSS from './TailwindCSS.svelte';
	export let name: string;
</script>

<main>
	<TailwindCSS />
	<div class="grid grid-cols-3 gap-3">
	<h1 class="w-full text-3xl">Hello { name }!</h1>
	<h1 class="w-full text-3xl">Hello { name }!</h1>
	<h1 class="w-full text-3xl">Hello { name }!</h1>
	</div>
</main>

<style lang="postcss">
	main {
		@apply bg-black;
	}
	h1 {
		@apply text-white text-center;
	}
</style>